<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.verbumquest">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".monSelva"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".monDesert"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Login"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Mapa"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".monPla"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".JocActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".perfil"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Torre"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Menu"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Registre"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Credits"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".VerbumQuest"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>